Repository Ragarnoy/GBMU, pull requests merged in 2021-11, with the labels that each got.

#315 Feature/finish impl ppu regs dbg ops
  gb-dbg/examples/debug_eframe/game.rs
  gb-dbg/src/dbg_interfaces.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/registers.rs
  src/context.rs
Labels: Debug

#274 Feature/oam dma transfer
  Cargo.lock
  Cargo.toml
  gb-bus/src/io_reg_area.rs
  gb-bus/src/io_reg_bus.rs
  gb-bus/src/io_reg_constant.rs
  gb-bus/src/lock.rs
  gb-dma/Cargo.toml
  gb-dma/src/lib.rs
  gb-ppu/src/registers/lcd.rs
  gb-ppu/src/registers/ppu_registers.rs
  gb-ppu/src/test_tools.rs
  src/context.rs
Labels: Display, BUS

#284 Bufix/debug ppu rendering
  gb-ppu/src/drawing/pixel_fetcher.rs
  gb-ppu/src/drawing/state.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers/ppu_registers.rs
Labels: Bug, Display

#318 bugfix correct example debugger eframe
  gb-dbg/examples/debug_eframe/game.rs
Labels: Bug, Debug

#311 Feature/debugger link control flow
  Cargo.lock
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/inc.rs
  gb-dbg/Cargo.toml
  gb-dbg/examples/debug_eframe/main.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/flow_control.rs
  gb-dbg/src/lib.rs
  gb-dbg/src/run_duration.rs
  gb-dbg/src/until.rs
  gb-roms/src/opcode.rs
  src/context.rs
  src/main.rs
Labels: Debug

#320 Feature/put trace bus log behing features
  gb-bus/Cargo.toml
  gb-bus/src/address_bus.rs
  gb-bus/src/io_reg_bus.rs
Labels: Debug

#319 Feature/cache disas debugger
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/disassembler.rs
  gb-roms/src/opcode.rs
Labels: Debug, Opcode

#286 Feature/integrate joypad
  Cargo.lock
  gb-joypad/Cargo.toml
  gb-joypad/src/joypad.rs
  gb-joypad/src/lib.rs
  gb-joypad/src/register.rs
  gb-ppu/src/drawing/state.rs
  src/context.rs
  src/event.rs
  src/main.rs
Labels: Inputs

#291 Feature/refactor clock cycle
  gb-clock/examples/uncapped.rs
  gb-clock/src/clock.rs
  gb-clock/src/lib.rs
  gb-clock/src/ticker.rs
  gb-cpu/src/cpu.rs
  gb-cpu/src/microcode/controller.rs
  gb-dma/src/lib.rs
  gb-joypad/src/joypad.rs
  gb-ppu/src/ppu.rs
  gb-timer/src/lib.rs
  src/context.rs
Labels: refactor

#322 Feature/use constant for hardcoded addr
  Cargo.lock
  gb-bus/src/io_reg_constant.rs
  gb-dbg/Cargo.toml
  gb-dbg/src/debugger/memory.rs
  gb-dbg/src/debugger/options.rs
  src/context.rs
Labels: refactor

#323 Hotfix/fix debugger size
  gb-dbg/src/debugger/registers.rs
  src/ui.rs
Labels: Debug

#326 Bugfix/lazy breakpoint
  gb-cpu/src/microcode/fetch.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  src/main.rs
Labels: Bug, Debug

#328 remove `git` property for deps `cucumber`
  Cargo.lock
  gb-cpu/Cargo.toml
Labels: Test

#331 Feature/add dec bdd test
  gb-cpu/tests/bdd.rs
  gb-cpu/tests/features/dec.feature
  gb-test/src/lib.rs
  gb-test/src/registers.rs
Labels: CPU, Opcode, Test

#329 Bugfix/boot rom reg invalid check addr
  gb-bus/src/error.rs
  gb-bus/src/working_ram.rs
  gb-roms/src/controllers/bios_wrapper.rs
  gb-roms/src/controllers/mbc1.rs
  gb-roms/src/controllers/mbc2.rs
  gb-roms/src/controllers/mbc3.rs
  gb-roms/src/controllers/mbc5.rs
  gb-roms/src/controllers/rom_only.rs
  gb-timer/src/lib.rs
Labels: Bug, BUS

#327 feature/force u16 padding even if the value could be stored in a u8
  gb-dbg/src/debugger/registers.rs
Labels: refactor

#332 Logs registers at each opcodes starts in a file
  .gitignore
  Cargo.toml
  debug/registers_logs/bootroom/.gitattributes
  debug/registers_logs/bootroom/theirs.txt
  gb-cpu/Cargo.toml
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/state.rs
Labels: CPU, Debug, Bios, Opcode

#335 Bugfix/cp sub opc
  gb-cpu/src/microcode/arithmetic.rs
  gb-cpu/src/microcode/logic.rs
  gb-cpu/src/microcode/math.rs
  gb-cpu/tests/bdd.rs
  gb-cpu/tests/features/sub-opcode.feature
  gb-roms/src/opcode/register.rs
Labels: Bug, CPU, Opcode

#256 Implement opcodes `EI`, `DI` and `RETI`
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/interrupts.rs
Labels: CPU, Opcode

#334 Remove existing logs file
  gb-cpu/src/microcode/controller.rs
Labels: CPU, Debug, Opcode

#325 Bugfix/ppu debbug monochrome
  gb-ppu/examples/objects_viewer.rs
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
  gb-ppu/src/drawing/pixel_fifo.rs
  gb-ppu/src/ppu.rs
Labels: Display

#339 Bugfix/disas crash unknown opcode
  gb-dbg/src/debugger/disassembler.rs
Labels: Bug, Debug

#342 use `cfg_attr` to remove duplicate
  src/main.rs
Labels: refactor

#343 remove Result from `(cpu/ppu/audio/io)_get`
  gb-dbg/examples/debug_eframe/game.rs
  gb-dbg/src/dbg_interfaces.rs
  gb-dbg/src/debugger.rs
  src/context.rs
Labels: refactor

#336 Feature/breakpoint refactor
  Cargo.lock
  gb-dbg/Cargo.toml
  gb-dbg/examples/debug_eframe/main.rs
  gb-dbg/src/dbg_interfaces.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/breakpoints/breakpoint.rs
  gb-dbg/src/debugger/breakpoints/breakpoint_node.rs
  gb-dbg/src/debugger/registers.rs
  gb-dbg/src/lib.rs
  src/ui.rs
Labels: Debug

#340 Bugfix/cannot reactivate breakpoint on current breakpoint
  gb-dbg/examples/debug_eframe/game.rs
  gb-dbg/src/dbg_interfaces.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/breakpoints/breakpoint.rs
  src/context.rs
Labels: Bug, Debug

#341 Feature/breakpoint raising edge detector
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/breakpoints/breakpoint.rs
Labels: Debug

#352 add missing undecoded load opcode
  gb-roms/src/opcode.rs
Labels: Bug, Debug

#347 Feature/auto save ext ram
  Cargo.lock
  Cargo.toml
  gb-roms/src/controllers.rs
  src/context.rs
Labels: ROM, save

#349 Bugfix/crash cpu re borrow register
  gb-cpu/src/builder.rs
  gb-cpu/src/cpu.rs
  gb-cpu/src/interrupt_flags.rs
  gb-cpu/src/lib.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/interrupts.rs
  gb-cpu/src/microcode/state.rs
  src/context.rs
Labels: Bug, BUS

#351 Bugfix/unknown opc bytes not in hexa
  gb-dbg/src/debugger/disassembler.rs
Labels: Bug, Debug

#353 Implement breakpoint cli options
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/breakpoints/breakpoint_node.rs
  gb-dbg/src/debugger/options.rs
  src/main.rs
Labels: Debug

#350 Feature/add bios logo example ppu
  assets/gen_bios_logo.py
  gb-ppu/examples/memory dumps/vram/bios-logo.dmp
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
Labels: Display, Debug

#337 Feature/ppu debugging tool
  gb-ppu/src/ppu.rs
  src/context.rs
  src/event.rs
  src/main.rs
  src/ui.rs
Labels: Display, Debug

#361 Bugfix/ppu debug pixel fetching
  gb-ppu/src/drawing/pixel_fetcher.rs
  gb-ppu/src/lib.rs
  gb-ppu/src/ppu.rs
Labels: Bug, Display

#362 Feature/ppu debug oam tool
  gb-dma/src/lib.rs
  src/context.rs
  src/event.rs
  src/main.rs
  src/ui.rs
Labels: Display, Debug

#360 time how long to render a frame
  Cargo.toml
  src/main.rs
Labels: Debug

#364 Implement halt opcode
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#367 correct typo feature
  src/main.rs
Labels: Bug

#366 add documentation how to check the perf of gbmu
  docs/perf.md
Labels: Documentation

#370 Feature/dbg statusbar
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/memory.rs
  gb-dbg/src/debugger/status_bar.rs
Labels: Debug

#375 use format for better panic message
  gb-cpu/src/microcode/controller.rs
Labels: CPU, Opcode, refactor

#377 HL related opcodes write into HL register instead of into byte pointe…
  gb-cpu/src/microcode/fetch_cb.rs
Labels: CPU, Opcode

#378 correct too small waveform area
  src/context.rs
Labels: Bug, BUS

#376 ppu trigger vblank interrupt as well.
  gb-ppu/src/drawing/state.rs
Labels: Bug, Display

#379 Bugfix/fix UI scaling
  gb-lcd/src/window.rs
  gb-ppu/examples/objects_viewer.rs
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
  src/event.rs
Labels: Bug, GUI

#374 Feature/sdl2 perf path autosave
  src/constant.rs
  src/context.rs
  src/main.rs
Labels: save

#380 Update resize call for ppu debug tools.
  src/event.rs
Labels: Bug

#382 Feature/debugger styling
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/breakpoints.rs
  gb-dbg/src/debugger/disassembler.rs
  gb-dbg/src/debugger/flow_control.rs
  gb-dbg/src/debugger/memory.rs
  gb-dbg/src/debugger/registers.rs
  gb-dbg/src/debugger/status_bar.rs
  gb-dbg/src/lib.rs
Labels: Debug

#381 Feature/rework load mbc save p1
  gb-roms/src/controllers.rs
  gb-roms/src/controllers/mbc1.rs
  gb-roms/src/controllers/mbc2.rs
  gb-roms/src/controllers/mbc3.rs
  gb-roms/src/controllers/mbc5.rs
  gb-roms/src/controllers/rom_only.rs
  gb-roms/src/header.rs
  gb-roms/src/header/cartridge_type.rs
  gb-roms/src/header/destination_code.rs
  gb-roms/src/header/flag.rs
  gb-roms/src/header/license_code.rs
  gb-roms/src/header/size.rs
Labels: ROM, refactor

#383 Bugfix/wrong start vram dma
  gb-bus/Cargo.toml
  gb-bus/src/generic/simple.rs
  gb-bus/src/io_reg_bus.rs
  gb-bus/src/io_reg_constant.rs
Labels: Bug, BUS

#388 Bugfix/ppu fix sprites
  gb-ppu/src/drawing/pixel.rs
  gb-ppu/src/drawing/pixel_fetcher.rs
  gb-ppu/src/drawing/pixel_fifo.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers/lcd/palettes_mono.rs
  gb-ppu/src/registers/palette.rs
Labels: Bug, Display

#384 Feature/reset game
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/memory.rs
  src/main.rs
Labels: Debug

#390 Feature/rework load mbc save p2
  Cargo.lock
  gb-roms/Cargo.toml
  gb-roms/src/controllers.rs
  gb-roms/src/controllers/mbc1.rs
  gb-roms/src/controllers/mbc2.rs
  gb-roms/src/controllers/mbc3.rs
  gb-roms/src/controllers/mbc5.rs
Labels: ROM, save, refactor

#393 rework breakpoints cli options
  src/main.rs
Labels: refactor

#392 Feature/load mbc save
  gb-roms/src/controllers.rs
  src/context.rs
Labels: ROM, save
