Repository Ragarnoy/GBMU, pull requests merged in 2021-09, with the labels that each got.

#69 bugfix/Docker missing workspace member folder to build in container
  Dockerfile
Labels: Bug, Packaging

#75 Feature/impl controller mbc5
  Cargo.lock
  gb-roms/Cargo.toml
  gb-roms/src/controllers.rs
  gb-roms/src/controllers/mbc5.rs
Labels: ROM, save

#77 Feature/add log caps
  Cargo.lock
  Cargo.toml
  src/main.rs
Labels: Debug

#76 feature/CartridgeType auto save requirement checker
  gb-roms/src/header.rs
  gb-roms/src/header/cartridge_type.rs
Labels: ROM

#67 Feature/bios container
  .github/workflows/rust.yml
  .gitignore
  Makefile
  gb-roms/src/controllers.rs
  gb-roms/src/controllers/bios.rs
Labels: ROM, Bios

#78 Feature/move docs to main repo
  README.md
  docs/GAB.md
  docs/Home.md
  docs/MBCs.md
  docs/Rendering.md
Labels: Documentation, Architecture

#88 Feature/rtc module
  Cargo.lock
  Cargo.toml
  Dockerfile
  docs/RTC.md
  gb-rtc/Cargo.toml
  gb-rtc/src/constant.rs
  gb-rtc/src/lib.rs
  gb-rtc/src/naive.rs
Labels: ROM

#85 Feature/monochrome palette
  docs/Rendering.md
  gb-lcd/src/render.frag
  gb-ppu/examples/memory dumps/io_registers/Legend_of_Zelda_link_Awaking.dmp
  gb-ppu/examples/memory dumps/io_registers/Pokemon_Bleue.dmp
  gb-ppu/examples/memory dumps/io_registers/Super_Mario_Land.dmp
  gb-ppu/examples/memory dumps/oam/Pokemon_Bleue.dmp
  gb-ppu/examples/memory dumps/oam/Super_Mario_Land.dmp
  gb-ppu/examples/memory dumps/vram/Pokemon_Bleue.dmp
  gb-ppu/examples/memory dumps/vram/Super_Mario_Land.dmp
  gb-ppu/examples/objects_viewer.rs
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
  gb-ppu/src/color.rs
  gb-ppu/src/lib.rs
  gb-ppu/src/memory/vram.rs
  gb-ppu/src/object.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers.rs
  gb-ppu/src/registers/palette.rs
Labels: Display

#91 Feature/cpu register
  gb-cpu/src/cpu.rs
  gb-cpu/src/interfaces.rs
  gb-cpu/src/lib.rs
  gb-cpu/src/registers.rs
  gb-cpu/src/registers_test.rs
Labels: CPU

#92 Feature/io registers area part1
  gb-bus/src/address.rs
  gb-bus/src/address_bus.rs
  gb-bus/src/error.rs
  gb-bus/src/file_operation.rs
  gb-bus/src/generic/chardev.rs
  gb-bus/src/generic/random.rs
  gb-roms/src/controllers/bios.rs
  gb-roms/src/controllers/mbc1.rs
  gb-roms/src/controllers/mbc5.rs
  gb-roms/src/controllers/rom_only.rs
Labels: Inputs, ROM, Bios

#89 Feature/joypad inputs
  .gitignore
  Cargo.lock
  Cargo.toml
  gb-joypad/Cargo.toml
  gb-joypad/src/config.rs
  gb-joypad/src/input.rs
  gb-joypad/src/joypad.rs
  gb-joypad/src/lib.rs
  gb-joypad/src/register.rs
  gb-lcd/src/window.rs
  src/main.rs
  src/settings.rs
Labels: Inputs

#95 Feature/clock ticking
  Cargo.lock
  Cargo.toml
  gb-clock/Cargo.toml
  gb-clock/examples/capped.rs
  gb-clock/src/clock.rs
  gb-clock/src/debuger.rs
  gb-clock/src/lib.rs
  gb-clock/src/tick.rs
  gb-clock/src/ticker.rs
Labels: Architecture

#97 Feature/io registers area part3
  gb-bus/src/io_reg_bus.rs
  gb-bus/src/lib.rs
Labels: Inputs, BUS

#101 Doc/cpu timing
  docs/CpuTiming.md
Labels: Documentation, CPU, Architecture, Opcode

#102 Feature/expose ppu memory
  Cargo.lock
  gb-ppu/Cargo.toml
  gb-ppu/examples/objects_viewer.rs
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
  gb-ppu/src/color.rs
  gb-ppu/src/error.rs
  gb-ppu/src/lib.rs
  gb-ppu/src/memory.rs
  gb-ppu/src/memory/oam.rs
  gb-ppu/src/memory/ppu_mem.rs
  gb-ppu/src/memory/vram.rs
  gb-ppu/src/object.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers/palette.rs
  gb-ppu/src/test_tools.rs
Labels: Display

#103 Feature/cpu microcode base
  Cargo.lock
  gb-cpu/Cargo.toml
  gb-cpu/dev_tool/helper_comment.py
  gb-cpu/dev_tool/helper_opcode.py
  gb-cpu/src/cpu.rs
  gb-cpu/src/lib.rs
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/fetch_cb.rs
  gb-cpu/src/microcode/opcode.rs
  gb-cpu/src/microcode/opcode_cb.rs
  gb-cpu/src/microcode/state.rs
Labels: CPU, Architecture

#109 Feature/bump to rust 1.55
  .github/workflows/rust.yml
  README.md
Labels: Documentation, CI

#108 Feature/update readme for newcomer
  Makefile
  README.md
Labels: Documentation

#105 Feature/abs jump opc
  gb-cpu/src/cpu.rs
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/condition.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/fetch_cb.rs
  gb-cpu/src/microcode/jump.rs
  gb-cpu/src/microcode/opcode.rs
  gb-cpu/src/microcode/read.rs
  gb-cpu/src/microcode/state.rs
Labels: CPU, Opcode

#112 Feature/impl inc dec opcode
  .github/workflows/rust.yml
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/flag.rs
  gb-cpu/src/microcode/ident.rs
  gb-cpu/src/microcode/inc.rs
  gb-cpu/src/microcode/read.rs
  gb-cpu/src/microcode/state.rs
  gb-cpu/src/microcode/write.rs
Labels: CPU, Opcode

#113 Feature/dbg refactor
  .idea/GBMU.iml
  Cargo.lock
  gb-dbg/examples/debug_eframe/main.rs
  gb-dbg/examples/debug_eframe/memory.rs
  gb-dbg/examples/debug_eframe/registers.rs
  gb-dbg/src/dbg_interfaces.rs
  gb-dbg/src/debugger.rs
  gb-dbg/src/debugger/memory.rs
  gb-dbg/src/debugger/options.rs
  gb-dbg/src/debugger/registers.rs
  gb-dbg/src/debugger/registers/table.rs
  src/main.rs
Labels: Debug

#114 Feature/rework cpu control flow
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/condition.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/fetch_cb.rs
  gb-cpu/src/microcode/inc.rs
  gb-cpu/src/microcode/jump.rs
  gb-cpu/src/microcode/read.rs
  gb-cpu/src/microcode/write.rs
Labels: CPU, Opcode

#116 Feature/impl relative jump opc
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/jump.rs
  gb-cpu/src/microcode/opcode.rs
Labels: CPU, Opcode

#119 Feature/rework disas opcode
  gb-roms/src/opcode.rs
  gb-roms/src/opcode/condition.rs
  gb-roms/src/opcode/list.rs
  gb-roms/src/opcode/store.rs
  gb-roms/src/opcode/value.rs
Labels: ROM, Opcode

#121 impl io reg to disable / enable bios
  gb-bus/src/address_bus.rs
Labels: ROM, Bios, BUS

#126 Feature/expose ppu registers
  gb-ppu/examples/objects_viewer.rs
  gb-ppu/examples/tilemap_viewer.rs
  gb-ppu/examples/tilesheet_viewer.rs
  gb-ppu/src/error.rs
  gb-ppu/src/lib.rs
  gb-ppu/src/memory/ppu_mem.rs
  gb-ppu/src/mode.rs
  gb-ppu/src/object.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers.rs
  gb-ppu/src/registers/lcd.rs
  gb-ppu/src/registers/lcd/control.rs
  gb-ppu/src/registers/lcd/palettes_mono.rs
  gb-ppu/src/registers/lcd/scrolling.rs
  gb-ppu/src/registers/lcd/stat.rs
  gb-ppu/src/registers/lcd/window_pos.rs
  gb-ppu/src/registers/palette.rs
  gb-ppu/src/registers/ppu_registers.rs
  gb-ppu/src/test_tools.rs
Labels: Display, BUS

#129 Feature/add consumed byte to opcode gen
  gb-cpu/src/microcode/controller.rs
  gb-roms/examples/disas.rs
  gb-roms/src/opcode.rs
Labels: ROM
