Repository Ragarnoy/GBMU, pull requests merged in 2021-10, with the labels that each got.

#138 add zip file of bios dump
  assets/bios.zip
Labels: Bug

#131 Feature/impl opcode cp
  gb-cpu/examples/carry_detection.rs
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/flag.rs
  gb-cpu/src/microcode/ident.rs
  gb-cpu/src/microcode/inc.rs
  gb-cpu/src/microcode/logic.rs
  gb-cpu/src/microcode/math.rs
Labels: CPU, Opcode

#135 Feature/impl opcode sub
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/arithmetic.rs
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#137 Feature/impl opcode add
  gb-cpu/src/microcode/arithmetic.rs
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#133 Feature/impl opcode xor
  gb-cpu/src/interfaces.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/logic.rs
  gb-cpu/src/registers.rs
Labels: CPU, Opcode

#149 Feature/impl opcode ld 16 to regs
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/arithmetic.rs
  gb-cpu/src/microcode/controller.rs
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/ident.rs
  gb-cpu/src/microcode/inc.rs
  gb-cpu/src/microcode/jump.rs
  gb-cpu/src/microcode/logic.rs
  gb-cpu/src/microcode/read.rs
  gb-cpu/src/microcode/write.rs
Labels: CPU, Opcode

#151 Bugfix/rtc naive not using instant
  gb-rtc/src/constant.rs
  gb-rtc/src/naive.rs
Labels: Bug

#148 Bugfix/mbc1 underflow read rom
  gb-roms/src/controllers/mbc1.rs
Labels: Bug, ROM

#157 Feature/impl opcode ldd
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#169 implement opcode `ld a, (u16)`
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#166 impl opcode `ld (u16), r8`
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#162 Unzip bios file at build.
  Cargo.lock
  gb-roms/Cargo.toml
  gb-roms/build.rs
Labels: Bios

#154 Feature/ppu state machine
  .gitignore
  Cargo.lock
  gb-ppu/Cargo.toml
  gb-ppu/src/drawing.rs
  gb-ppu/src/drawing/mode.rs
  gb-ppu/src/drawing/state.rs
  gb-ppu/src/lib.rs
  gb-ppu/src/mode.rs
  gb-ppu/src/ppu.rs
  gb-ppu/src/registers/lcd/scrolling.rs
  gb-ppu/src/registers/lcd/stat.rs
Labels: Display

#171 Feature/push opcode
  gb-cpu/src/microcode.rs
  gb-cpu/src/microcode/dec.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/read.rs
  gb-cpu/src/microcode/utils.rs
  gb-cpu/src/microcode/write.rs
Labels: CPU, Opcode

#174 Feature/impl opcode ld r16 r16
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/opcode.rs
Labels: CPU, Opcode

#181 implement `LDH c/u8, a`
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/write.rs
Labels: CPU, Opcode

#184 implement opcode `ld r8, r8`
  gb-cpu/src/microcode/fetch.rs
Labels: CPU, Opcode

#200 Feature/extract event loop
  src/context.rs
  src/event.rs
  src/main.rs
Labels: refactor

#204 Implement opcode `RLC`
  gb-cpu/src/microcode/bitwise.rs
  gb-cpu/src/microcode/fetch.rs
  gb-cpu/src/microcode/fetch_cb.rs
Labels: CPU, Opcode

#216 Feature/impl opcode sra
  gb-cpu/src/microcode/bitwise.rs
  gb-cpu/src/microcode/fetch_cb.rs
Labels: CPU, Opcode

#224 Feature/implement `wram`, `eram`, `hram`
  gb-bus/src/generic.rs
  gb-bus/src/generic/simple.rs
  gb-bus/src/lib.rs
  gb-bus/src/working_ram.rs
Labels: BUS
